# -------------------------------
# Miscellaneous system files
# -------------------------------
*.class              # Java class files
*.log                # Log files
*.pyc                # Compiled Python files
*.swp                # Swap files
.DS_Store            # macOS Finder metadata
.atom/               # Atom editor settings
.build/              # Custom build folder
.buildlog/           # Build logs
.history             # Local history files
.svn/                # Subversion metadata
.swiftpm/            # Swift Package Manager files
migrate_working_dir/ # Migration working directory

# -------------------------------
# IntelliJ / JetBrains IDE files
# -------------------------------
*.iml
*.ipr
*.iws
.idea/               # IntelliJ project settings

# -------------------------------
# VS Code (optional)
# Uncomment if you don’t want to share workspace settings
#.vscode/

# -------------------------------
# Flutter / Dart / Pub related
# -------------------------------
**/doc/api/                  # Generated API docs
**/ios/Flutter/.last_build_id # iOS build ID file
.dart_tool/                  # Dart tool cache
.flutter-plugins-dependencies # Plugin dependency tracking
.pub-cache/                  # Pub package cache
.pub/                        # Pub working directory
build/                       # Build output
coverage/                    # Test coverage reports

# -------------------------------
# Symbolication & Obfuscation
# -------------------------------
app.*.symbols     # Symbolication files
app.*.map.json    # Obfuscation mapping files

# -------------------------------
# Android build artifacts
# -------------------------------
/android/app/debug
/android/app/profile
/android/app/release


# -------------------------------
# iOS specific
# -------------------------------
ios/Pods/                     # CocoaPods dependencies
ios/Flutter/Flutter.framework # Generated Flutter framework
ios/Flutter/Flutter.podspec   # Podspec file
ios/Flutter/Generated.xcconfig # Generated config
ios/Flutter/ephemeral/        # Ephemeral build files
ios/.symlinks/                # Symlinked dependencies
ios/build/                    # iOS build output
*.xcworkspace                 # Xcode workspace
*.xcuserstate                 # Xcode user state
*.xcuserdatad*                # Xcode user data

# -------------------------------
# macOS specific
# -------------------------------
macos/Pods/
macos/Flutter/ephemeral/
macos/build/

# -------------------------------
# Windows specific
# -------------------------------
windows/flutter/ephemeral/
windows/build/

# -------------------------------
# Linux specific
# -------------------------------
linux/flutter/ephemeral/
linux/build/

# -------------------------------
# Web specific
# -------------------------------
web/.dart_tool/
web/build/